/* .settings-tab{
    margin-bottom: 3rem;
}
.settings-tab a{
    cursor: pointer;
} */

input[type="checkbox"] {
    color: red;
}

.drop-container {
    margin: 100px;
}

.action {
    margin-top: 10px;
}

.form-control {
    height: 43px;
}
.multi-dropdown{
    width: 100%;
}