<div class="row" *ngIf="!showPreview">
    <div class="col-lg-12" style="height: 100%;">
        <div class="card settings-page-card">
            <form [formGroup]="configurationDetails" id="msform">
                <ul id="progressbar">
                    <li [ngClass]="step==1 ? 'active ' : 'inactive'">Configuration</li>
                    <li [ngClass]="step==2 ? 'active' : 'inactive'">Udise Information Setup</li>
                    <li [ngClass]="step==3 ? 'active' : 'inactive'">State Information Setup</li>
                </ul>
                <fieldset *ngIf="step == 1">
                    <h2 class="fs-title">Configuration</h2>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Logo</label>
                            <input type="file" id="fileUpload" name="fileupload" class="file-upload form-control" placeholder="Logo" />
                        </div>
                        <div class="col-lg-4">
                            <label>Fav Icon</label>
                            <input type="file" id="fileUpload" name="fileupload" class="file-upload form-control" placeholder="Logo" />
                        </div>
                        <div class="col-lg-4">
                            <label>Portal Name</label>
                            <input type="text" formControlName="portalName" name="portalName" class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>Primary Color</label>
                            <input type="text" formControlName="primaryColor" name="primaryColor" class="form-control"  />
                        </div>
                        <div class="col-lg-4">
                            <label>Secondary Color</label>
                            <input type="text" formControlName="secondaryColor" name="secondaryColor" class="form-control"  />
                        </div>
                        <div class="col-lg-4">
                            <input type="button" name="next" class="next action-button-previous" value="Preview" (click)="previewHandler()"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <label>Language</label>
                            <div class="input-group">
                                <select class="form-control form-select settings-text-field" id="inputGroupSelect04" aria-label="Example select with button addon">
                                  <option selected>Choose...</option>
                                  <option value="1">English</option>
                                  <option value="2">Tamil</option>
                                  <option value="3">Hindi</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <label>Storage Setup</label>
                            <div class="input-group">
                                <select class="form-control form-select settings-text-field" id="inputGroupSelect04" aria-label="Example select with button addon">
                                    <option selected>Choose...</option>
                                    <option value="1">AWS</option>
                                    <option value="2">Cloud</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="action-div">
                        <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
                    </div>
                    
                </fieldset>
            </form>
            <form [formGroup]="UdiseDetails" id="msform">
                <fieldset *ngIf="step == 2">
                    <h2 class="fs-title">Udise Information Setup</h2>
                    <div class="row">
                        <div class="col-lg-6">
                            <label>Udise ID</label>
                            <input type="text" formControlName="udiseId" class="form-control"  />
                        </div>
                        <div class="col-lg-6">
                            <label>Password</label>
                            <input type="password" formControlName="password" class="form-control" ßß/>
                        </div>
                    </div>
                    <div class="action-div">
                        <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        <input (click)="next()" type="button" name="next" class="next action-button" value="Next" />
                    </div>
                    
                </fieldset>
            </form>
            <form [formGroup]="stateDetails" id="msform">
                <fieldset *ngIf="step == 3">
                    <h2 class="fs-title">State Information Setup</h2>
                    <div class="row">
                        <div class="col-md-4">
                            <label>State</label>
                            <div class="input-group">
                                <select class="form-control form-select settings-text-field" id="inputGroupSelect04" aria-label="Example select with button addon">
                                  <option selected>Choose...</option>
                                  <option value="1">State</option>
                                  <option value="2">State</option>
                                  <option value="3">State</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>District/Region</label>
                            <div class="input-group">
                                <select class="form-control form-select settings-text-field" id="inputGroupSelect04" aria-label="Example select with button addon">
                                  <option selected>Choose...</option>
                                  <option value="1">District</option>
                                  <option value="2">Region</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Zone</label>
                            <div class="input-group">
                                <select class="form-control form-select settings-text-field" id="inputGroupSelect04" aria-label="Example select with button addon">
                                  <option selected>Choose...</option>
                                  <option value="1">Zone</option>
                                  <option value="2">Zone</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Cluster</label>
                            <div class="input-group">
                                <select class="form-control form-select settings-text-field" id="inputGroupSelect04" aria-label="Example select with button addon">
                                  <option selected>Choose...</option>
                                  <option value="1">Cluster</option>
                                  <option value="2">Schools</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>School</label>
                            <div class="input-group">
                                <select class="form-control form-select settings-text-field" id="inputGroupSelect04" aria-label="Example select with button addon">
                                  <option selected>Choose...</option>
                                  <option value="1">School</option>
                                  <option value="2">School</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="action-div">
                        <input (click)="previous()" type="button" name="previous" class="previous action-button-previous" value="Previous" />
                        <input (click)="submit()" type="submit" name="submit" class="submit action-button" value="Submit" />
                    </div>
                    
                </fieldset>
            </form>
        </div>
    </div>
</div>
<div class="row" style="width: 100%;" *ngIf="showPreview">
    <div class="row" style="width: 100%;">
        <div class="col-lg-12">
            <button class="btn btn-primary btn-round pull-right" (click)="previewHandler()">Hide</button>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="container card-preview">
            <div class="row card">
                <div class="col-lg-12 text-center">
                    <h4>Sample Title</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 side-bar">
                    <ul class="card">
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                        <li>Dashboard</li>
                        <li class="active">Dashboard</li>
                    </ul>
                </div>
                <div class="col-lg-9 preview-container card">
                    <div class="row">
                        <div class="col-lg-4">
                            <label>TextField One</label>
                            <input class="form-control" />
                        </div>
                        <div class="col-lg-4">
                            <label>TextField One</label>
                            <input class="form-control" />
                        </div>
                        <div class="col-lg-4">
                            <label>TextField One</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <label>TextField One</label>
                            <input class="form-control" />
                        </div>
                        <div class="col-lg-4">
                            <label>TextField One</label>
                            <input class="form-control" />
                        </div>
                        <div class="col-lg-4">
                            <label>TextField One</label>
                            <input class="form-control" />
                        </div>
                    </div>
                    <div class="action-div">
                        <button type="button" class="btn btn-primary btn-round">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>