<div class="text-start"><button class="btn btn-primary btn-round" (click)="backfunc()"><i class="fa fa-arrow-left"></i>&nbsp;&nbsp;&nbsp;Back</button>

</div>
<div class="card">
    <div class="card-body">
        <h6 class="card-title">{{'UDISE Information Setup'|translate}}
        </h6>
        <form [formGroup]="udiseDetails" id="msform" (ngSubmit)="udiseDetailsSubmit(udiseDetails)">
            <div class="row">
                <div class="col-lg-6">
                    <label>{{'Udise ID'|translate}}</label>
                    <input type="text" formControlName="udiseId" class="form-control" />
                    <span class="text-danger " *ngIf="(udiseInformationFormControl.udiseId.touched ||isUdiseDetailsSubmitted) && udiseInformationFormControl.udiseId.errors?.required ">
                        Udise Id is required
                    </span>
                </div>
                <div class="col-lg-6">
                    <label>{{'Password'|translate}}</label>
                    <input type="password" formControlName="password" class="form-control" />
                    <span class="text-danger " *ngIf="(udiseInformationFormControl.password.touched ||isUdiseDetailsSubmitted) && udiseInformationFormControl.password.errors?.required ">
                        Password is required
                    </span>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-round">{{'Submit'|translate}}</button>
            </div>
        </form>
    </div>
</div>