
<!-- <div class="topbar">
    <img src="assets/img/pudhuchery_gov.png" alt="Government of Pudhuchery" class="topbar_image">
    <h4 id="title">{{ siteName }}</h4>
</div> -->

<div class="navbar navbar-dark bg-white navbar-expand-lg navbar-absolute fixed-top ">
    <div class="col align-items-start">
        <img src="assets/img/pudhuchery_gov.png" alt="Government of Pudhuchery" class="topbar_image">
    </div>
    <div class="collapse navbar-collapse justify-content-center">
        <h4 id="title">{{ siteName }}</h4>
    </div>
  <div class="collapse navbar-collapse justify-content-end">
        <img src="https://www.py.gov.in/sites/all/themes/chh/images/logo-02.jpg" alt="Government of Pudhuchery" class="topbar_image">
    </div>
</div>

  