<!-- <div class="topbar">
    <img src="assets/img/pudhucherry_logo.png" alt="Government of Pudhuchery" class="topbar_image">
    <h4>{{portal()}}</h4>
    <img src="https://www.py.gov.in/sites/all/themes/chh/images/logo-02.jpg" alt="Government of Pudhuchery " class="topbar_image ">
</div> -->
<!-- <div class="topbar">
    <div class="row">
        <div class="col-md-4"><img src="assets/img/pudhucherry_logo.png" alt="Government of Pudhuchery" class="topbar_image"></div>
        <div class="col-md-4">
            <h4>{{portal()}}</h4>
        </div>
        <div class="col-md-4"><img src="assets/img/pudhucherry_logo.png" alt="Government of Pudhuchery" class="topbar_image"></div>
    </div>

</div> -->
<!-- 
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <img src="assets/img/pudhucherry_logo.png" alt="Government of Pudhuchery" class="topbar_image">
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-7">
            <h4>{{portal()}}</h4>
        </div>
        <div class="col-md-1">
            <img src="assets/img/pudhucherry_logo.png" alt="Government of Pudhuchery" class="topbar_image">
        </div>
    </div>
</div> -->
<div class="navbar navbar-dark bg-white navbar-expand-lg navbar-fixed fixed-top ">
    <div class="col align-items-start py-0">
        <!-- <img src="assets/img/pudhucherry_logo.png" alt="Government of Pudhuchery" class="topbar_image"> -->
    </div>
    <div class="collapse navbar-collapse justify-content-center py-0">
        <h4>{{portal()}}</h4>
    </div>
    <div class="collapse navbar-collapse justify-content-end py-0">

    </div>
</div>